{% load static %}
<footer class="footer bg-black section py-5">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-12 my-4 border-bottom-white">
                            <a href="#">
                                <img src="{% static "imgs/logo.png" %}" alt="" class="logo mb-3">
                            </a>
                        </div>
                        <p class="footer-text">
                            Welcome to CryptoInsight, your go-to platform for real-time cryptocurrency data and market
                            analysis. Get comprehensive insights on coin trends and connect with fellow enthusiasts
                            through our integrated chat feature.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>